*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 95%;
    height: 80vh;
    display: flex;
}

.quotes{
    width: 900px;
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}

.quotes p{
    font-size: 2rem;
    margin-bottom: 10px;
}

.quotes h3{
    font-size: 1.5rem;
}


button{
    font-size: 1.5rem;
    color:black;
    background-color:yellow;
    width: 48vw;
    font-weight: 500;
    height: 30px;
    border-radius: 20px;
    border: 1px solid red;
}

@media (max-width:480px) {
    .quotes p{
        font-size: 1rem;
    }
    
    .quotes h3{
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .quotes p{
        font-size: 0.8rem;
    }
    
    .quotes h3{
        font-size: 0.8rem;
    }
}